# Main dependencies
langchain
langchain-anthropic==0.3.5
langchain-groq==0.2.3
langchain-openai>=0.3.5
langchain-deepseek>=0.1.2
langgraph==0.2.56
pandas>=2.1.0
numpy>=1.24.0
python-dotenv
matplotlib>=3.9.2
colorama>=0.4.6
questionary>=2.1.0
rich==13.7.0
langchain-google-genai>=2.0.11
packaging>=24.0
protobuf
grpcio-status

# Development dependencies
pytest>=7.4.0
black>=24.3.0
isort>=5.12.0
flake8>=6.1.0
